@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Squada+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  overflow-x: hidden;
}

header .free-shipping {
  background-color: rgb(252, 229, 212);
  text-align: center;
  padding: 0.3rem 0;
}
header .free-shipping p {
  color: rgb(49, 65, 81);
  font-weight: 600;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.4rem 0;
  background-color: #dcefed;
  margin-top: -1rem;
  position: fixed;
  width: 100%;
}
header nav .mbl-menu-bar {
  display: none;
}
header nav .mbl-menu-bar i {
  font-size: 1.6rem;
  margin-left: 2rem;
}
header nav #search-bar-pc {
  position: absolute;
  right: 352px;
  display: none;
}
header nav #search-bar-pc input {
  width: 650px;
  padding: 0.7rem 1rem;
  border: 2px solid #304051;
  z-index: 9999;
  box-shadow: 0 3px 2px 100vh rgba(0, 0, 0, 0.4);
}
header nav #search-bar-pc .fa-arrow-right {
  position: absolute;
  right: 15px;
  top: 18px;
  font-size: 0.9rem;
  cursor: pointer;
  color: gray;
}
header nav #search-bar-pc .fa-arrow-right:hover {
  color: rgb(192, 192, 192);
}
header nav #search-bar-pc .fa-circle-xmark {
  z-index: 9999;
  cursor: pointer;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: 0.7rem;
  position: absolute;
}
header nav .menu-list {
  display: flex;
  padding-top: 0.8rem;
}
header nav .menu-list .close-menu {
  display: none;
  position: absolute;
  right: 30px;
  top: 34px;
}
header nav .menu-list .close-menu i {
  font-size: 1.5rem;
}
header nav .menu-list li {
  list-style: none;
  padding-left: 1.5rem;
}
header nav .menu-list li a {
  text-decoration: none;
  color: #304051;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.25s ease-in;
}
header nav .menu-list li a:hover {
  opacity: 0.5;
}
header nav .menu-list .mbl-logo {
  display: none;
}
header nav .menu-list .mbl-logo img {
  margin-top: -3rem;
  width: 70%;
}
header nav .menu-list .mbl-currency {
  display: none;
}
header nav .menu-list .mbl-currency select {
  background: none;
  border: none;
  cursor: pointer;
  color: #304051;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  margin-left: -0.2rem;
}
header nav .menu-list .mbl-currency select option {
  color: #304051;
}
header nav .menu-list .mbl-search {
  display: none;
  margin-top: 1.5rem;
}
header nav .menu-list .mbl-search input {
  padding: 0.4rem 1rem;
  border-radius: 30px;
  color: #304051;
}
header nav .logo {
  text-align: center;
  margin-right: 4.5rem;
}
header nav .logo img {
  width: 50%;
}
header nav .serach-cart {
  display: flex;
  padding-right: 3rem;
  gap: 1.5rem;
  align-items: center;
}
header nav .serach-cart .currency select {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0.5;
}
header nav .serach-cart .currency select option {
  color: #304051;
}
header nav .serach-cart .search span {
  color: #304051;
  font-weight: 600;
  cursor: pointer;
}
header nav .serach-cart .cart {
  width: 35px;
  height: 35px;
  background-color: #dcefed;
  border-radius: 50%;
  position: relative;
  border: 2px solid #304051;
}
header nav .serach-cart .cart span {
  color: #304051;
  font-weight: 600;
  cursor: pointer;
  left: 11px;
  top: 4px;
  font-size: 17px;
  position: absolute;
}

header nav.sticky {
  background: white;
  top: 15px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#cart-side-bar {
  width: 25rem;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  z-index: 9999;
  background-color: #fff;
}
#cart-side-bar .top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  padding-top: 1.5rem;
}
#cart-side-bar .top-bar h4 {
  font-size: 25px;
  font-family: "Inconsolata", monospace;
  color: #304051;
  font-weight: 700;
}
#cart-side-bar .top-bar i {
  font-size: 1.5rem;
  cursor: pointer;
}
#cart-side-bar .content {
  height: 100%;
  text-align: center;
  align-items: center;
}
#cart-side-bar .content p {
  margin-top: 12rem;
}

.first-section {
  background-image: url("https://cdn.shopify.com/s/files/1/0398/4339/7787/t/2/assets/pf-3db9e905--grheader5.jpg?v=1623432180");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8rem;
}
.first-section .all-content {
  align-items: center;
  padding: 10rem 0 0rem 8rem;
  margin: 0;
}
.first-section .all-content .text-content {
  padding-bottom: 4rem;
}
.first-section .all-content .text-content h1 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  margin-bottom: 0;
  line-height: 68px;
  width: 80%;
  color: #304051;
  margin-top: 40px;
}
.first-section .all-content .text-content h6 {
  color: #304051;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  font-weight: 700;
  margin-top: 1.5rem;
}
.first-section .all-content .text-content p {
  color: #304051;
  font-family: "Inconsolata", monospace;
  width: 60%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.7rem;
}
.first-section .all-content .text-content button {
  background-color: #304051;
  border-radius: 50px;
  padding: 10px 50px;
  border: 3px solid #304051;
  margin-top: 2rem;
  transition: all 0.3s ease-out;
}
.first-section .all-content .text-content button a {
  text-decoration: none;
  color: #fff;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.first-section .all-content .text-content button:hover {
  background-color: #fff;
}
.first-section .all-content .text-content button:hover a {
  color: #304051;
}

.second-section {
  background-position: 0 0;
  background-image: url("https://cdn.shopify.com/s/files/1/0398/4339/7787/t/2/assets/pf-a76e61b0--wave.png?v=1597444643");
  padding-top: 300px;
  margin-top: -150px;
  padding-bottom: 150px;
  position: relative;
}
.second-section .all-content {
  padding: 0 8rem;
}
.second-section .all-content .all-text h2 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 64px;
  color: #304051;
  text-align: center;
}
.second-section .all-content .all-text p {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  margin-top: 2rem;
  color: #304051;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
}
.second-section .all-content .rotate-img .img-one {
  position: absolute;
  width: 100px;
  top: 50px;
  left: 20px;
  -webkit-animation: rotation 9s infinite linear;
          animation: rotation 9s infinite linear;
}
.second-section .all-content .rotate-img .img-two {
  position: absolute;
  width: 100px;
  top: 200px;
  right: 180px;
  -webkit-animation: rotation 9s infinite linear;
          animation: rotation 9s infinite linear;
}
.second-section .all-content .rotate-img .img-three {
  position: absolute;
  width: 100px;
  left: 600px;
  bottom: 20px;
  -webkit-animation: rotation 9s infinite linear;
          animation: rotation 9s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.products-buy {
  padding-top: 4rem;
}
.products-buy h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 64px;
  color: #304051;
  text-align: center;
}
.products-buy .all-products {
  padding: 0rem 6rem;
}
.products-buy .all-products .product {
  text-align: center;
  padding-top: 3rem;
}
.products-buy .all-products .product img {
  width: 70%;
}
.products-buy .all-products .product p {
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  padding: 1rem 6rem;
  color: #304051;
  font-weight: 700;
}
.products-buy .all-products .product span {
  font-size: 22px;
  font-family: "Inconsolata", monospace;
  margin-top: -1.5rem;
  display: block;
  font-weight: 700;
  color: gray;
}
.products-buy .all-products .product button {
  padding: 0.5rem 3rem;
  background-color: #304051;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 30px;
  border: 3px solid #304051;
  transition: 0.4s ease-in-out;
}
.products-buy .all-products .product button:hover {
  background-color: #fff;
  color: #304051;
  font-weight: 700;
}

.third-section .all-content {
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.third-section .all-content .quote h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 64px;
  color: #304051;
  text-align: right;
}
.third-section .all-content .gif-side img {
  width: 80%;
}

.forth-section .all-content {
  align-items: center;
  background-color: #dcefed;
}
.forth-section .all-content .gif-side {
  padding-left: 0;
}
.forth-section .all-content .gif-side img {
  width: 100%;
  height: 890px;
}
.forth-section .all-content .content-side {
  padding: 0 9rem;
}
.forth-section .all-content .content-side h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.forth-section .all-content .content-side p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 31px;
  margin-bottom: 4rem;
}
.forth-section .all-content .content-side a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.forth-section .all-content .content-side a:hover {
  background-color: #fff;
  color: #304051;
}

.bg-text {
  margin-left: -320px;
  min-height: 347px;
  background-image: url("https://cdn.shopify.com/s/files/1/0398/4339/7787/t/2/assets/reviewwavebpink1638549782377-1646956813320.png?v=1646956814");
  background-size: cover;
  margin-top: -184px;
  z-index: 999;
  position: relative;
}

.five-section {
  background-size: cover;
  padding: 0px 0px 150px;
  margin-top: -100px;
  background-image: url("https://cdn.shopify.com/s/files/1/0398/4339/7787/t/2/assets/pf-bf6c0d11--ltheanine2.gif?v=1623969257");
  background-attachment: fixed;
}
.five-section .all-content {
  width: 100%;
  align-items: center;
}
.five-section .all-content .text-side {
  padding: 20rem 5rem 0 10rem;
}
.five-section .all-content .text-side h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 75px;
  width: 75%;
  color: #304051;
}
.five-section .all-content .text-side p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 4rem;
}
.five-section .all-content .text-side a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.five-section .all-content .text-side a:hover {
  background-color: #fff;
  color: #304051;
}

.f-sub-section {
  background-color: #dcefed;
}
.f-sub-section .all-content {
  text-align: center;
  padding: 4rem;
  width: 100%;
}
.f-sub-section .all-content h6 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 26px;
}
.f-sub-section .all-content p {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 10px;
}
.f-sub-section .all-content span {
  font-size: 34px;
  font-weight: 800;
  font-family: "Inconsolata", monospace;
  margin-top: 2rem;
}

.six-section .all-content {
  align-items: center;
  background-color: rgb(199, 219, 169);
  text-align: center;
}
.six-section .all-content .gif-side {
  padding-left: 0;
}
.six-section .all-content .gif-side img {
  width: 100%;
}
.six-section .all-content .content-side {
  padding: 0 9rem;
}
.six-section .all-content .content-side h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.six-section .all-content .content-side p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 31px;
  margin-bottom: 4rem;
}
.six-section .all-content .content-side a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.six-section .all-content .content-side a:hover {
  background-color: #fff;
  color: #304051;
}

.feedback-comments {
  background-color: #dcefed;
  padding: 8rem 4rem;
}
.feedback-comments .fc-heading {
  text-align: center;
}
.feedback-comments .fc-heading h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.feedback-comments .fc-heading p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 31px;
  margin-bottom: 4rem;
}
.feedback-comments .all-comments .comments img {
  width: 90%;
}
.feedback-comments .all-comments .btn {
  margin-top: 4rem;
}
.feedback-comments .all-comments .btn a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  width: 120px;
  text-transform: uppercase;
}
.feedback-comments .all-comments .btn a:hover {
  background-color: #fff;
  color: #304051;
}

.comparison {
  background-image: url("https://cdn.shopify.com/s/files/1/0398/4339/7787/t/2/assets/pf-a76e61b0--wave.png?v=1597444643");
  margin-top: -150px;
}
.comparison .cm-heading {
  text-align: center;
  padding-top: 12rem;
}
.comparison .cm-heading h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.comparison .all-content {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}
.comparison .all-content .heading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border-bottom: 3px solid #304051;
}
.comparison .all-content .heading-content .logo {
  width: 190px;
  height: 30px;
}
.comparison .all-content .heading-content span {
  font-size: 18px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 26px;
  letter-spacing: 2px;
}
.comparison .all-content .heading-content p {
  font-family: "Inconsolata", monospace;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  line-height: 43px;
  color: #304051;
  margin-bottom: -0.1rem;
}
.comparison .all-content .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 3px solid #304051;
}
.comparison .all-content .content span {
  font-size: 18px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.comparison .all-content .content .tick,
.comparison .all-content .content .cross {
  width: 40px;
}

.seven-section .all-content {
  align-items: center;
  background-color: #ffd1ad;
}
.seven-section .all-content .gif-side {
  padding: 0;
}
.seven-section .all-content .gif-side img {
  width: 100%;
}
.seven-section .all-content .content-side {
  padding: 0 9rem;
}
.seven-section .all-content .content-side h4 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.seven-section .all-content .content-side p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 31px;
  margin-bottom: 4rem;
}
.seven-section .all-content .content-side a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.seven-section .all-content .content-side a:hover {
  background-color: #fff;
  color: #304051;
}

.money-back {
  background-color: rgb(199, 219, 169);
  position: relative;
  width: 100%;
}
.money-back .all-content {
  justify-content: center;
  padding: 10rem;
  width: 100%;
}
.money-back .all-content .content {
  text-align: center;
  padding-top: 2rem;
}
.money-back .all-content .content h3 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  line-height: 75px;
  color: #304051;
}
.money-back .all-content .content p {
  font-size: 24px;
  margin-top: 25px;
  color: #304051;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
  line-height: 31px;
  margin-bottom: 4rem;
  padding: 0 4rem;
}
.money-back .all-content .content a {
  text-decoration: none;
  color: #fff;
  background-color: #304051;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  padding: 15px 50px;
  border: 3px solid #304051;
  font-weight: 700;
  transition: all 0.3s ease-out;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.money-back .all-content .content a:hover {
  background-color: #fff;
  color: #304051;
}
.money-back .all-content img {
  position: absolute;
  width: 220px;
  right: 100px;
  top: -40px;
}

.b-frnd {
  padding: 6rem;
  position: relative;
}
.b-frnd .all-content {
  justify-content: center;
}
.b-frnd .all-content .content {
  justify-content: center;
  text-align: center;
}
.b-frnd .all-content .content span {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 0;
  margin-top: 70px;
  color: #f2bd91;
}
.b-frnd .all-content .content h6 {
  font-family: "Squada One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 55px;
}
.b-frnd .all-content .content p {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  color: #304051;
  font-weight: 600;
  line-height: 23px;
  padding-top: 10px;
  margin-bottom: 20px;
  color: #304051;
  width: 20%;
  margin: auto;
}
.b-frnd .all-content img {
  position: absolute;
  width: 200px;
  margin-left: -21rem;
  top: 1rem;
}

.video-insta {
  margin-top: -2rem;
}
.video-insta .live-text .all-text {
  /* Make it move */
}
.video-insta .live-text .all-text .marquee {
  margin: 0 auto;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.video-insta .live-text .all-text .marquee p {
  font-size: 1em;
  font-family: "Inconsolata", monospace;
  color: #304051;
  font-weight: 700;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
}
.video-insta .live-text .all-text .marquee p span {
  margin-left: 2rem;
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.video-insta .all-images .images {
  display: flex;
}
.video-insta .all-images .images a {
  position: relative;
}
.video-insta .all-images .images a img {
  width: 104%;
  height: 65%;
  cursor: pointer;
}
.video-insta .all-images .images a .youtube,
.video-insta .all-images .images a .instagram {
  background-color: #304051;
  width: 104%;
  height: 65%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  opacity: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.video-insta .all-images .images a .youtube img,
.video-insta .all-images .images a .instagram img {
  width: 25px;
  height: 25px;
  margin: 7rem 0 0 7rem;
  z-index: 999;
  position: relative;
}
.video-insta .all-images .images a:hover .youtube {
  opacity: 0.5;
}
.video-insta .all-images .images a:hover .instagram {
  opacity: 0.5;
}

footer {
  background-color: #dcefed;
  margin-top: -9rem;
}
footer .all-content {
  padding: 5rem;
}
footer .all-content .f-heading h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 55px;
  font-family: "Squada One", cursive;
}
footer .all-content .f-links {
  display: flex;
}
footer .all-content .f-links li {
  list-style: none;
  padding: 0.3rem 0.5rem;
}
footer .all-content .f-links li a {
  text-decoration: none;
  color: #304051;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
footer .all-content .f-links li a:hover {
  opacity: 0.5;
}
footer .all-content .f-search {
  position: relative;
}
footer .all-content .f-search p {
  font-size: 25px;
  color: #304051;
  font-weight: 700;
  padding-right: 2rem;
}
footer .all-content .f-search input {
  width: 95%;
  padding: 0.6rem 1rem;
  font-weight: 600;
  color: #304051;
  font-size: 18px;
  border-radius: 30px;
}
footer .all-content .f-search i {
  position: absolute;
  right: 3rem;
  bottom: 3.8rem;
  cursor: pointer;
}
footer .lower-footer {
  justify-content: center;
  padding-bottom: 3rem;
}
footer .lower-footer .reserve {
  justify-content: center;
  text-align: center;
}
footer .lower-footer .reserve p {
  color: rgba(48, 65, 80, 0.7);
  font-weight: 700;
}
footer .lower-footer .reserve p a {
  color: rgba(48, 65, 80, 0.7);
  text-decoration: none;
}
footer .lower-footer .reserve p a:hover {
  opacity: 0.5;
}
footer .lower-footer .currency select {
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 0.4rem;
  border: none;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
}

@media only screen and (max-width: 1150px) {
  header nav .logo {
    text-align: center;
    margin-right: 0.5rem;
  }
  header nav .menu-list li {
    width: 80px;
    text-align: center;
    padding-left: 0rem;
  }
  footer {
    margin-top: -8rem;
  }
}
@media only screen and (max-width: 950px) {
  header nav .menu-list {
    position: fixed;
    flex-direction: column;
    top: 0px;
    width: 24rem;
    margin-left: -80rem;
    padding-top: 4rem;
    padding-left: 1.5rem;
    height: 100vh;
    background-color: #fff;
    transition: all 0.3s linear;
    z-index: 9999;
    box-shadow: 0 3px 2px 100vh rgba(0, 0, 0, 0.4);
  }
  header nav .show-mbl-menu {
    margin-left: 0;
  }
  header nav .serach-cart .currency select {
    display: none;
  }
  header nav .serach-cart .search span {
    display: none;
  }
  header nav .logo {
    text-align: center;
    margin-left: 5rem;
  }
  header nav.sticky {
    padding: 1rem 0 0.7rem 0;
  }
  header nav .menu-list li {
    text-align: left;
    padding-top: 1rem;
    padding-left: 0rem;
  }
  header nav .menu-list li a {
    font-weight: 700;
  }
  header nav .menu-list .mbl-logo {
    display: block;
    margin-top: 0rem;
  }
  header nav .menu-list .mbl-currency {
    display: block;
  }
  header nav .menu-list .close-menu {
    display: block;
  }
  header nav .menu-list .mbl-search {
    display: block;
  }
  header nav .mbl-menu-bar {
    display: block;
  }
  .video-insta .all-images .images a .youtube img, .video-insta .all-images .images a .instagram img {
    width: 25px;
    height: 25px;
    margin: 5rem 0 0 5rem;
  }
  footer {
    margin-top: -6rem;
  }
}
@media only screen and (max-width: 750px) {
  .second-section .all-content .rotate-img .img-three {
    left: 200px;
  }
  .comparison .all-content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .seven-section .all-content .content-side {
    padding: 3rem 9rem;
  }
  .money-back .all-content {
    justify-content: center;
    padding: 5rem;
  }
  .six-section .all-content .content-side {
    padding: 2rem 4rem;
  }
  .six-section .all-content .gif-side {
    padding-left: 0;
    padding: 0;
  }
  .f-sub-section .all-content p {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
  }
  .five-section .all-content .text-side {
    padding: 10rem 5rem 0 5rem;
  }
  .forth-section .all-content .content-side {
    padding: 4rem 3rem 9rem 4rem;
  }
  .forth-section .all-content .gif-side {
    padding-left: 0;
    padding: 0;
  }
  .third-section .all-content .quote h4 {
    font-size: 60px;
    text-align: center;
  }
  .third-section .all-content .gif-side img {
    width: 80%;
    text-align: center;
    margin-left: 4rem;
  }
  .products-buy .all-products .product img {
    width: 90%;
  }
  .third-section .all-content {
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .seven-section .all-content .content-side {
    padding: 3rem 4rem;
  }
  .money-back .all-content {
    justify-content: center;
    padding: 4rem 0;
  }
  .second-section .all-content {
    padding: 0 2rem;
  }
  .first-section .all-content {
    align-items: center;
    padding: 10rem 0 0rem 2rem;
    margin: 0;
  }
  .video-insta .all-images .images a .youtube img, .video-insta .all-images .images a .instagram img {
    width: 25px;
    height: 25px;
    margin: 4rem 0 0 4rem;
  }
  footer {
    margin-top: -4.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .video-insta .all-images .images a .youtube img, .video-insta .all-images .images a .instagram img {
    width: 20px;
    height: 20px;
    margin: 3rem 0 0 3rem;
  }
  footer {
    margin-top: -3.5rem;
  }
}
@media only screen and (max-width: 450px) {
  header nav .menu-list {
    width: 90%;
  }
  #cart-side-bar {
    width: 100%;
  }
  header nav .serach-cart {
    padding-right: 1.5rem;
  }
  header nav .logo img {
    width: 100%;
  }
  .first-section .all-content {
    align-items: center;
    justify-content: center;
    padding: 10rem 0 0rem 0rem;
    margin: 0;
  }
  .first-section .all-content .text-content {
    padding-bottom: 4rem;
    padding: 0 3rem;
  }
  .first-section .all-content .text-content h1 {
    font-size: 42px;
    text-align: center;
    width: 100%;
    line-height: 44px;
  }
  .first-section .all-content .text-content h6 {
    font-size: 20px;
    text-align: center;
    margin-top: 1.5rem;
  }
  .first-section .all-content .text-content p {
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    margin-top: 1.7rem;
  }
  .first-section .all-content .text-content button {
    margin-left: 3rem;
    margin-top: 1.3rem;
  }
  .second-section .all-content .all-text h2 {
    font-family: "Squada One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 42px;
  }
  .second-section .all-content .all-text p {
    font-size: 20px;
    line-height: 27px;
  }
  .products-buy h4 {
    font-size: 44px;
    line-height: 40px;
  }
  .products-buy .all-products {
    padding: 0rem;
  }
  .products-buy .all-products .product p {
    font-size: 20px;
    padding: 1rem 1rem;
  }
  .third-section .all-content .quote h4 {
    font-size: 42px;
    line-height: 40px;
    text-align: center;
  }
  .third-section .all-content .gif-side img {
    width: 100%;
    text-align: center;
    margin-left: 1rem;
  }
  .forth-section .all-content .gif-side img {
    width: 100%;
    height: 100%;
  }
  .forth-section .all-content .content-side h4 {
    font-size: 42px;
    text-align: center;
    line-height: 44px;
  }
  .forth-section .all-content .content-side {
    padding: 4rem 2rem 9rem 2rem;
    text-align: center;
  }
  .forth-section .all-content .content-side p {
    font-size: 20px;
    margin-top: 18px;
    line-height: 31px;
    margin-bottom: 3rem;
  }
  .bg-text {
    display: none;
  }
  .five-section .all-content .text-side h4 {
    font-size: 46px;
    line-height: 48px;
    width: 100%;
  }
  .five-section .all-content .text-side p {
    font-size: 20px;
    margin-top: 17px;
    color: #304051;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 3rem;
  }
  .five-section .all-content .text-side {
    padding: 10rem 1rem 0 2rem;
    text-align: center;
  }
  .f-sub-section .all-content p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 1px;
  }
  .f-sub-section .all-content {
    text-align: center;
    padding: 4rem 2rem 4rem 3rem;
    width: 100%;
  }
  .six-section .all-content .content-side p {
    font-size: 20px;
    margin-top: 25px;
    color: #304051;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    line-height: 27px;
    margin-bottom: 2rem;
  }
  .six-section .all-content .content-side {
    padding: 2rem;
  }
  .six-section .all-content .content-side h4 {
    font-size: 42px;
    line-height: 46px;
  }
  .feedback-comments .fc-heading h4 {
    font-size: 42px;
    line-height: 45px;
    padding: 0 3rem;
  }
  .feedback-comments .fc-heading p {
    font-size: 20px;
    margin-top: 15px;
    color: #304051;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    line-height: 27px;
    margin-bottom: 0rem;
  }
  .feedback-comments .all-comments .comments img {
    width: 100%;
  }
  .feedback-comments {
    background-color: #dcefed;
    padding: 4rem 1rem;
  }
  .feedback-comments .all-comments .btn a {
    margin-bottom: 4rem;
  }
  .comparison .cm-heading {
    text-align: center;
    margin-top: 3rem;
    padding-top: 12rem;
  }
  .comparison .cm-heading h4 {
    font-size: 42px;
    line-height: 46px;
  }
  .comparison .all-content {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
  }
  .comparison .all-content .heading-content .logo {
    width: 100px;
    height: 20px;
  }
  .comparison .all-content .heading-content p {
    font-size: 20px;
    line-height: 33px;
  }
  .comparison .all-content .content {
    padding: 1rem 2rem;
  }
  .comparison .all-content .content .cross {
    width: 30px;
  }
  .comparison .all-content .content span {
    font-size: 15px;
  }
  .comparison .all-content .content .tick, .comparison .all-content .content .cross {
    width: 30px;
  }
  .seven-section .all-content .content-side h4 {
    font-size: 42px;
    line-height: 45px;
  }
  .seven-section .all-content .content-side p {
    font-size: 20px;
    margin-top: 1px;
    line-height: 27px;
    margin-bottom: 3rem;
  }
  .seven-section .all-content .content-side {
    padding: 3rem 2rem;
    text-align: center;
  }
  .money-back .all-content img {
    position: absolute;
    width: 140px;
    right: 10px;
    top: -40px;
  }
  .money-back .all-content .content h3 {
    font-size: 42px;
    line-height: 46px;
  }
  .money-back .all-content .content p {
    font-size: 20px;
    margin-top: 5px;
    line-height: 27px;
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
  .b-frnd .all-content img {
    position: absolute;
    width: 200px;
    margin-left: -1rem;
    top: -1rem;
  }
  .b-frnd .all-content .content {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }
  .b-frnd .all-content .content h6 {
    font-family: "Squada One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 30px;
  }
  .b-frnd .all-content .content p {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    width: 100%;
    line-height: 22px;
  }
  .video-insta .all-images .images a .youtube img, .video-insta .all-images .images a .instagram img {
    width: 17px;
    height: 17px;
    margin: 2rem 0 0 2rem;
  }
  footer {
    margin-top: -2.5rem;
  }
  footer .all-content .f-heading h6 {
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 45px;
    font-family: "Squada One", cursive;
  }
  footer .all-content {
    padding: 2rem;
  }
  footer .lower-footer .currency select {
    cursor: pointer;
    margin-left: 5rem;
  }
  footer .all-content .f-links li {
    list-style: none;
    padding: 0.3rem 1rem;
  }
  footer .all-content .f-search p {
    font-size: 20px;
    color: #304051;
    font-weight: 700;
  }
  ol, ul {
    padding-left: 0rem;
  }
}/*# sourceMappingURL=home.css.map */
